<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/api/categories/" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="image" placeholder="image">
            </div>
         
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Name</th>
            <th>image</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < listCategory.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= listCategory[i].name %></strong></td>
              <td><%= listCategory[i].image %></td>
              <td>
             
                <a href="/api/categories/<%= listCategory[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
                <a href="/api/categories/<%= listCategory[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

<div class="container">

<div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add/producto" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Title">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="price" placeholder="price">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="description" placeholder="description">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="categoryId" placeholder="categoryId">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="image" placeholder="image">
            </div>
       
            </div>
            <button class="btn btn-primary" type="submit">
              Add producto
            </button>
          </form>
        </div>
      </div>
    </div>
  
  
  
      <!-- LIST product -->
      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Title</th>
              <th>price</th>
              <th>description</th>
              <th>description</th>
              <th>description</th>
              <th>operations</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < lisProduct.length; i++) { %>
              <tr>
                <td><%= i + 1%></td>
                <td><strong><%= lisProduct[i].title %></strong></td>
                <td><%= lisProduct[i].price %></td>
                <td><%= lisProduct[i].description %></td>
                <td><%= lisProduct[i].categoryId %></td>
                <td><%= lisProduct [i].image %></td>
                <td>
                  <a
                    class="<%= lisProduct[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                    href=">">Done</a>
                  <a href="/api/products/delete/<%= lisProduct[i]._id %>"
                    class="btn btn-danger">
                    Delete
                  </a>
                  <a href="" class="btn btn-info">
                    Edit
                  </a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
  
      </div>

    </div>